{% extends 'frontend/frontheaderfooter.html.twig' %}
{% block content %}
<section class="hero-section">
    <div class="container">
        <div class="hs-slider owl-carousel owl-loaded owl-drag">



            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3480px, 0px, 0px); transition: all 1.2s ease 0s; width: 8120px;"><div class="owl-item cloned" style="width: 1140px; margin-right: 20px;"><div class="hs-item set-bg" data-setbg="{{ asset('frontend/img/hero/hero-2.jpg') }}" style="background-image: url(&quot;img/hero/hero-2.jpg&quot;);">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hc-inner-text">
                                        <div class="hc-text">
                                            <h4>Balaji Symphony</h4>
                                            <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                                            <div class="label">For Rent</div>
                                            <h5>$ 65.0<span>/month</span></h5>
                                        </div>
                                        <div class="hc-widget">
                                            <ul>
                                                <li><i class="fa fa-object-group"></i> 2, 283</li>
                                                <li><i class="fa fa-bathtub"></i> 03</li>
                                                <li><i class="fa fa-bed"></i> 05</li>
                                                <li><i class="fa fa-automobile"></i> 01</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 20px;"><div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg" style="background-image: url(&quot;img/hero/hero-3.jpg&quot;);">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hc-inner-text">
                                        <div class="hc-text">
                                            <h4>Balaji Symphony</h4>
                                            <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                                            <div class="label">For Rent</div>
                                            <h5>$ 65.0<span>/month</span></h5>
                                        </div>
                                        <div class="hc-widget">
                                            <ul>
                                                <li><i class="fa fa-object-group"></i> 2, 283</li>
                                                <li><i class="fa fa-bathtub"></i> 03</li>
                                                <li><i class="fa fa-bed"></i> 05</li>
                                                <li><i class="fa fa-automobile"></i> 01</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 1140px; margin-right: 20px;"><div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg" style="background-image: url(&quot;img/hero/hero-1.jpg&quot;);">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hc-inner-text">
                                        <div class="hc-text">
                                            <h4>Balaji Symphony</h4>
                                            <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                                            <div class="label">For Rent</div>
                                            <h5>$ 65.0<span>/month</span></h5>
                                        </div>
                                        <div class="hc-widget">
                                            <ul>
                                                <li><i class="fa fa-object-group"></i> 2, 283</li>
                                                <li><i class="fa fa-bathtub"></i> 03</li>
                                                <li><i class="fa fa-bed"></i> 05</li>
                                                <li><i class="fa fa-automobile"></i> 01</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 1140px; margin-right: 20px;"><div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg" style="background-image: url(&quot;img/hero/hero-2.jpg&quot;);">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hc-inner-text">
                                        <div class="hc-text">
                                            <h4>Balaji Symphony</h4>
                                            <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                                            <div class="label">For Rent</div>
                                            <h5>$ 65.0<span>/month</span></h5>
                                        </div>
                                        <div class="hc-widget">
                                            <ul>
                                                <li><i class="fa fa-object-group"></i> 2, 283</li>
                                                <li><i class="fa fa-bathtub"></i> 03</li>
                                                <li><i class="fa fa-bed"></i> 05</li>
                                                <li><i class="fa fa-automobile"></i> 01</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 1140px; margin-right: 20px;"><div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg" style="background-image: url(&quot;img/hero/hero-3.jpg&quot;);">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hc-inner-text">
                                        <div class="hc-text">
                                            <h4>Balaji Symphony</h4>
                                            <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                                            <div class="label">For Rent</div>
                                            <h5>$ 65.0<span>/month</span></h5>
                                        </div>
                                        <div class="hc-widget">
                                            <ul>
                                                <li><i class="fa fa-object-group"></i> 2, 283</li>
                                                <li><i class="fa fa-bathtub"></i> 03</li>
                                                <li><i class="fa fa-bed"></i> 05</li>
                                                <li><i class="fa fa-automobile"></i> 01</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 20px;"><div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg" style="background-image: url(&quot;img/hero/hero-1.jpg&quot;);">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hc-inner-text">
                                        <div class="hc-text">
                                            <h4>Balaji Symphony</h4>
                                            <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                                            <div class="label">For Rent</div>
                                            <h5>$ 65.0<span>/month</span></h5>
                                        </div>
                                        <div class="hc-widget">
                                            <ul>
                                                <li><i class="fa fa-object-group"></i> 2, 283</li>
                                                <li><i class="fa fa-bathtub"></i> 03</li>
                                                <li><i class="fa fa-bed"></i> 05</li>
                                                <li><i class="fa fa-automobile"></i> 01</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 20px;"><div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg" style="background-image: url(&quot;img/hero/hero-2.jpg&quot;);">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hc-inner-text">
                                        <div class="hc-text">
                                            <h4>Balaji Symphony</h4>
                                            <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                                            <div class="label">For Rent</div>
                                            <h5>$ 65.0<span>/month</span></h5>
                                        </div>
                                        <div class="hc-widget">
                                            <ul>
                                                <li><i class="fa fa-object-group"></i> 2, 283</li>
                                                <li><i class="fa fa-bathtub"></i> 03</li>
                                                <li><i class="fa fa-bed"></i> 05</li>
                                                <li><i class="fa fa-automobile"></i> 01</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="arrow_left"></i></button><button type="button" role="presentation" class="owl-next"><i class="arrow_right"></i></button></div><div class="owl-dots disabled"></div></div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Search Section Begin -->

<!-- Search Section End --><br> <br> <br>
<section class="chooseus-section spad set-bg" data-setbg="img/chooseus/chooseus-bg.jpg" style="background-image: url(&quot;img/chooseus/chooseus-bg.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="chooseus-text">
                    <div class="section-title">
                        <h4>Pourquoi nous choisir ? </h4>
                    </div>
                    <p>SEEK&amp;WORK est une application d'embauche qui rassemble tous les aspects et détails techniques dans une interface fluide et simple en proposant 3 versions mobile, web et desktop.
                        Notre application a été conçu pour faciliter la communication entre les entreprises et les freelancers, elle vous permet de gagner
                        du temps dans vos taches et automatiser la procédure de travail.
                        Il suffit de quelques clics pour mettre en ligne vos contenus et offres et en tant que freelancers vous pouvez les adhérer en postulant vos cv.


                        .</p>
                </div>
                <div class="chooseus-features">
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="img/chooseus/chooseus-icon-1.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>Find your future home</h5>
                            <p>We help you find a new home by offering a smart real estate.</p>
                        </div>
                    </div>
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="img/chooseus/chooseus-icon-2.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>Buy or rent homes</h5>
                            <p>Millions of houses and apartments in your favourite cities</p>
                        </div>
                    </div>
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="img/chooseus/chooseus-icon-3.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>Experienced agents</h5>
                            <p>Find an agent who knows your market best</p>
                        </div>
                    </div>
                    <div class="cf-item">
                        <div class="cf-pic">
                            <img src="img/chooseus/chooseus-icon-4.png" alt="">
                        </div>
                        <div class="cf-text">
                            <h5>List your own property</h5>
                            <p>Sign up now and sell or rent your own properties</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="property-section latest-property-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <h4>Formations</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="team-btn">
                    <a href="#"><i class="fa fa-user"></i> Voir Tout</a>
                </div>
            </div>
        </div>
        <div class="row property-filter" id="MixItUpBA4CC3" style="">
            <div class="col-lg-4 col-md-6 mix all house" style="">
                <div class="property-item">
                    <div class="pi-pic set-bg" data-setbg="img/property/property-1.jpg" style="background-image: url(&quot;img/property/property-1.jpg&quot;);">

                    </div>
                    <div class="pi-text">

                        <div class="pt-price">$ 289.0</div>
                        <h5><a href="#">Home in Merrick Way</a></h5>
                        <p> 3 Middle Winchendon Rd, Rindge, NH 03461</p>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mix all restaurent hotel" style="">
                <div class="property-item">
                    <div class="pi-pic set-bg" data-setbg="img/property/property-2.jpg" style="background-image: url(&quot;img/property/property-2.jpg&quot;);">

                    </div>
                    <div class="pi-text">
                        <div class="pt-price">$ 289.0</div>
                        <h5><a href="#">Unimont Aurum</a></h5>
                        <p> Gut No.102, Opp. HP Petrol Pump, Karjat</p>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mix all apart office" style="">
                <div class="property-item">
                    <div class="pi-pic set-bg" data-setbg="img/property/property-2.jpg" style="background-image: url(&quot;img/property/property-2.jpg&quot;);">
                    </div>
                    <div class="pi-text">

                        <div class="pt-price">$ 289.0</div>
                        <h5><a href="#">Vrindavan Flora</a></h5>
                        <p> No. 15, 16, 17-1A And 17-2, Rasayani, Rasayani</p>


                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<!-- Property Section End -->

<!-- Chooseus Section Begin -->

<!-- Chooseus Section End -->

<!-- Feature Property Section Begin -->

<!-- Feature Property Section End -->

<!-- Team Section Begin -->
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="section-title">
                    <h4>EVENEMENT</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="team-btn">
                    <a href="#"><i class="fa fa-user"></i> Voir Tout</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="ts-item">
                    <div class="ts-text">
                        <img src="img/team/team-1.jpg" alt="">
                        <h5>Ashton Kutcher</h5>
                        <span>123-455-688</span>
                        <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                        <div class="ts-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ts-item">
                    <div class="ts-text">
                        <img src="img/team/team-2.jpg" alt="">
                        <h5>Ashton Kutcher</h5>
                        <span>123-455-688</span>
                        <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                        <div class="ts-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ts-item">
                    <div class="ts-text">
                        <img src="img/team/team-3.jpg" alt="">
                        <h5>Ashton Kutcher</h5>
                        <span>123-455-688</span>
                        <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                        <div class="ts-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Categories Section Begin -->

<!-- Categories Section End -->

<!-- Testimonial Section Begin -->

<!-- Testimonial Section End -->

<!-- Logo Carousel Begin -->
<div class="logo-carousel">
    <div class="container">

    </div>
</div>
<!-- Logo Carousel End -->

<!-- Contact Section Begin -->

<!-- Contact Section End -->

<!-- Footer Section Begin -->
{% endblock %}